<fieldset>
  <ol>
    <li>
      <label for="product">设备名称</label>
      <%= collection_select "product", "category_id", Category.all, :id, :name,\
        {:prompt => "请选择设备类别"} %>
      <select id="brand" name="brand" type="select"/>
      <select id="mode" name="mode" type="select"/>
      <label for="quantity">采购数量</label>
      <input id="quantity" name="quantity" type="input"/>
      <%=link_to "购买", new_line_item_path %>
    </li>
  </ol>
</fieldset>

