/* Global styles */
/* START:notice */
#notice {
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}
/* END:notice */

/* START:mainlayout */
/* Styles for main page */
#banner {
  background: #9c9;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;
}

#banner img {
  float: left;
}

#main {
  margin-left: 13em;
  padding-top: 4ex;
  padding-left: 2em;
  background: white;
}

#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 12em;
  background: #141;
}

#side a {
  color: blue;
}

h1 {
  font:  150% sans-serif;
  color: #226;
  border-bottom: 3px #77d;
  text-align: center;
}
/* END:mainlayout */

a{}
li{}

div.row {
  clear: right;
  padding-top: 5px;
  
}

div.row span.label {
  float: left;
  width: 28%;
  text-align: right;
}

div.row span.data {
  float: right;
  width: 70%;
  text-align: left;
}

div.section-group-header span {
  width: 150px;
  display: inline-block;
  text-align: left;
}


.even {
  background-color: #292;
}

table {
 width: 100%;
 text-align: center;
}

