/* Global styles */
/* START:notice */
#notice {
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}
/* END:notice */

/* START:mainlayout */
/* Styles for main page */
#banner {
  background: #9c9;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;
}

#banner img {
  float: left;
}

#main {
  /* margin-left: 13em; */
  padding-top: 4ex;
  padding-left: 2em;
  background: white;
}

h1 {
  font:  150% sans-serif;
  color: #226;
  border-bottom: 3px #77d;
  text-align: center;
}
/* END:mainlayout */

a{}
li{}

div.row {
  clear: right;
  padding-top: 5px;
  
}

div.row span.label {
  float: left;
  width: 20%;
  margin-right: 1em;
  text-align: right;
}

div.row span.data {
  width: 50%;
  text-align: left;
}

div.row span.error {
  text-align: left;
  color: #c00;
  display: inline-block;
}

div.section-group-header span {
  width: 150px;
  display: inline-block;
  text-align: left;
}


.even {
  background-color: #292;
}

table {
 width: 100%;
 text-align: center;
}


fieldset {
  margin: 1.5em 0 0 0;
  padding: 0;
}
legend {
  margin-left: 1em;
  color: #000000;
  font-weight: bold;
}
fieldset ol {
  padding: 1em 1em 0 1em;
  list-style: none;
}
fieldset li {
  padding-bottom: 1em;
}
fieldset.submit {
  float: none;
  width: auto;
  padding-left: 18em;
  border-style: none;
}
fieldset label {
  float: left;
  width: 5em;
  margin-right: 1em;
}

