// This import applies a global reset to any page that imports this stylesheet.
// @import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass
@import partials/formtastic_base.sass
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
// @import blueprint/modules/scaffolding.sass
@import buttons.sass
@import ie.sass
@import cims.sass
// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
+blueprint

html
  overflow-y: scroll
  overflow-x: scroll

// override the image location.
// +blueprint-debug("images/grid.png")
form.formtastic
  +formtastic
  background-color: #cc9
  border: 1px
  padding: 5px
  margin: 0px auto

// Page layout can be done using mixins applied to your semantic classes and IDs:
body
  #container
    +container
  #header, #footer
    +column(!blueprint_grid_columns)
    background: green
    text-align: center
  #sidebar
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    !sidebar_columns = floor(!blueprint_grid_columns / 4)
    // +column(!sidebar_columns)
    +column(5)
  #content
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    !content_columns = ceil(3 * !blueprint_grid_columns / 4)
    // true means it's the last column in the row
    // +column(!content_columns, true)
    +column(19)
    +last

.section-content span
  +column(2) 

h1,h2,h3
  text-align: center
  border-bottom: 3px #77d

#notice
  border: 2px solid red
  padding: 1em
  margin: 2em 0
  background-color: #f0f0f0
  font: bold smaller sans-serif

#banner
  background: #9c9
  padding-top: 10px
  padding-bottom: 10px
  border-bottom: 2px solid
  font: small-caps 40px/40px "Times New Roman", serif
  color: #282
  text-align: center
  img
    float: left

.even
  background-color: #292

table
  clear: both
  width: 100%
  text-align: center
