$('#notice').remove();
$('#new_section').before("<div id='notice'><%= escape_javascript(flash.delete(:notice)) %></div>");
<%- unless @section.new_record? -%>
  $('#section-list').append("<%= escape_javascript(render(@section)) %>");
<% end %>
$('#new_section')[0].reset();
