%h1
  湖北银监局各部门基本信息
%div
  - form_for Section.new do |f|
    /
      TODO SHOW THE AJAX ERROR MSG
    = f.label "新建部门"
    = f.text_field :name
    = f.submit "确定"
%hr
#section-list
  = render :partial => 'section', :collection => @sections
